n8n.json
{
  "name": "YouTube Video Upload Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-upload",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/internal/videos/{{$node[\"Webhook\"].json[\"body\"][\"videoId\"]}}",
        "method": "GET",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "{{$credentials.n8nSecret}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-video",
      "name": "Get Video Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "toEmail": "{{$node[\"Webhook\"].json[\"body\"][\"userEmail\"]}}",
        "subject": "Your video upload is complete",
        "text": "Your video '{{$node[\"Get Video Details\"].json.title}}' has been successfully uploaded to YouTube. Description: {{$node[\"Get Video Details\"].json.description}}",
        "options": {}
      },
      "id": "send-notification-email",
      "name": "Send Notification Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/internal/videos/{{$node[\"Webhook\"].json[\"body\"][\"videoId\"]}}",
        "method": "PUT",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "{{$credentials.n8nSecret}}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "completed"
            }
          ]
        },
        "options": {}
      },
      "id": "update-video-success",
      "name": "Update Video Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Details": {
      "main": [
        [
          {
            "node": "Send Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification Email": {
      "main": [
        [
          {
            "node": "Update Video Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "meta": {
    "instanceId": "instance-id"
  },
  "id": "youtube-upload-workflow",
  "tags": []
}
